@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@if(TempData["DateModified"] != null)
{
    <div class="alert alert-info">
        <p>Dear eXtollo DSVM and SecVM  Administrators,</p>
        <br>
        <p>Welcome to the eXtollo survey.</p>
        <br>
        <p>You are requested to provide feedback on the outgoing internet traffic from your eXtollo DSVMs or the eXtollo SecVMs. We kindly ask you to identify until @TempData["DateModified"], which requested URLs are still necessary for your Instance. Invalid URL entries are going to be deleted by end of September 2020.</p>
        <br>
        <p>Before the final deletion date, a list of survey results will be shared with you via Mail to give you the chance of double-checking and stopping the deletion of still needed URLs. </p>
        <br>
        <p>If you are facing any technical issues related to login or any other functionality, please create a ticket via CISM using the following webticket:  <a href="https://cism-web.es.corpintra.net/cgi-bin/webTickets/webTicket.pl?t=BIG_DATA_N_EXTOLLO_Change"><b>New Incident Ticket</b></a> </p>
    </div>
}

<form method="post" asp-antiforgery="true" id="frm_submit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        @if(ViewBag.Message != null)
        {
            <div class="alert alert-success" role="alert">
                <strong>Success !! </strong> @ViewBag.Message
            </div>
        }
        <div class="form-group">
            <label class="control-label col-md-2" asp-for="SelectedInstance">Instance-ID<span style="color:red">*</span></label>
            <div class="col-md-10">
                <select asp-for="SelectedInstance" asp-items="@(new SelectList(ViewBag.ProjectInstance, "Project_Id", "ProjectName"))" id="multipleSelectDropDownList"></select>
                <span class="field-validation-valid text-danger" asp-validation-for="SelectedInstance"></span>
            </div>
            <br /><br /><br />
            <label class="control-label col-md-2" asp-for="Email">Daimler Email Address<span style="color:red">*</span></label>
            <div class="col-md-10">
                <input autocomplete="off" asp-for="Email" class="form-control" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="new-btn">
                    <i class="fa fa-spinner fa-spin" style="display:none;"></i>Login
                </button>
                <br /><br />
                New User? <a asp-action="Register" asp-controller="Account">Click to SignUp</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#multipleSelectDropDownList').chosen({
                width: "25%"
            });
        })

        $('#frm_submit').submit(function () {
            $('.fa.fa-spinner.fa-spin').show();
        })
    </script>
}