@inject UserManager<Users> userManager
@inject SignInManager<Users> signInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Admin.css" />
    <style>
        div#loader_screen {
            background: #fff;
            position: fixed;
            z-index: 9999;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }

            div#loader_screen > div#loading {
                color: #FFF;
                width: 120px;
                height: 24px;
                margin: 50px auto;
            }

        .new-btn {
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border-radius: 4px;
            user-select: none;
            color: #fff;
            background-color: #4492A8;
            border-color: #4492A8;
        }

            .new-btn:hover {
                background-color: #00667E;
                border-color: #00667E;
                color: #fff;
            }
    </style>

    <script type="text/javascript">
        window.addEventListener("load", function () {
            var load_screen = this.document.getElementById("loader_screen");
            document.body.removeChild(load_screen);
        });
    </script>

    <script type="text/javascript">
        function DisableBackButton() {
            window.history.forward(1);
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }
    </script>
</head>
<body data-theme="default" data-layout="fluid" data-sidebar="left">
    @{
        string controller = (string)ViewContext.RouteData.Values["controller"];
        string action = (string)ViewContext.RouteData.Values["action"];
    }
    <div id="loader_screen">
        <div id="loading">
            <img src="~/images/loader_gif.gif" alt="loader" />
        </div>
    </div>

    <div id="throbber" style="display:none; min-height:120px;"></div>
    <div id="noty-holder"></div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-action="ListQuestion" asp-controller="Admin" style="color:white;">
                    eXtollo Survey Form
                </a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                @if (signInManager.IsSignedIn(User))
                { 
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> @userManager.GetUserName(User)<b class="fa fa-angle-down"></b></a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            <li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                        </ul>
                    </li>
                }
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" style="background:#4492A8">
                @if (User.IsInRole("GlobalAdmin"))
                {
                    <ul class="nav navbar-nav side-nav" style="background:#4492A8">
                        <li>
                            <a asp-controller="Admin" asp-action="AddQuestion">
                                <i class="fa fa-fw fa-search"></i> ADD QUESTION
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="ListQuestion">
                                <i class="fa fa-fw fa-star"></i>  LIST QUESTION
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="Result"><i class="fa fa-fw fa-user-plus"></i>  RESULT</a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="AddUserInRole">
                                <i class="fa fa-fw fa-paper-plane-o"></i> ADD ROLE AND EDIT
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="AddFormClourseDate">
                                <i class="fa fa-fw fa fa-question-circle"></i> ADD DATE TO FILL FORM
                            </a>
                        </li>
                    </ul>
                }
                else
                { 
                    <ul class="nav navbar-nav side-nav" style="background:#4492A8">
                        <li>
                            <a asp-controller="Admin" asp-action="AddQuestion">
                                <i class="fa fa-fw fa-search"></i> ADD QUESTION
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="ListQuestion">
                                <i class="fa fa-fw fa-star"></i>  LIST QUESTION
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="Result"><i class="fa fa-fw fa-user-plus"></i>  RESULT</a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="AddFormClourseDate">
                                <i class="fa fa-fw fa fa-question-circle"></i> ADD DATE TO FILL FORM
                            </a>
                        </li>
                    </ul>
                }
                </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row" id="main">
                    <div class="col-sm-12 col-md-12 well" id="content" style="background:white;border:none; box-shadow:none">
                        @RenderBody()
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div><!-- /#wrapper -->

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator"
                crossorigin="anonymous"
                integrity="sha384-rZfj/ogBloos6wzLGpPkkOr/gpkBNLZ6b6yLy4o+ok+t/SAKlL5mvXLr0OXNi1Hp">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.9/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
                crossorigin="anonymous"
                integrity="sha384-ifv0TYDWxBHzvAk2Z0n8R434FL1Rlv/Av18DXE43N/1rvHyOG4izKst0f2iSLdds">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
