@model IEnumerable<ListUserViewModel>

@{
    ViewBag.Title = "Result";
}

<h2 style="margin-top:100px;">Show Survey Result</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Email ID</th>
            <th>Keep</th>
            <th>Discard</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var res in Model)
            {
                <tr>
                    <td>@res.Email</td>
                    <td>@res.Keep</td>
                    <td>@res.Discard</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center"> No User has given Feedback Yet!!</td>
            </tr>
        }
    </tbody>
</table>
